[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/pugixml"]
	path = src/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "src/OpenBLAS"]
	path = src/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
